<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
{{ with .Description | default .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
<meta property="og:title" content="{{ .Title }}">
{{ with .Description | default .Site.Params.description }}<meta property="og:description" content="{{ . }}">{{ end }}
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:url" content="{{ .Permalink }}">
{{ with .OutputFormats.Get "rss" }}
  {{ printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
{{ end }}
{{ partialCached "head/favicon.html" . }}
{{ partialCached "head/css.html" . }}
