{{ define "main" }}
  <div class="terminal-nav">
    {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
  </div>

  {{ .Content }}

  {{ $posts := where .Site.RegularPages "Section" "posts" }}

  <div class="time-list">
    <ul>
      {{ range $posts.ByDate.Reverse }}
        <li>
          <span>{{ partial "date-short.html" .Date }}</span>
          <div>
            <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
          </div>
        </li>
      {{ end }}
    </ul>
  </div>
{{ end }}

